@import "tailwindcss";

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.cursive {
  font-family: 'Just Another Hand', cursive;
}

.bar {
  position: relative;
  overflow: hidden;
  background: #e5e7eb;
  border-radius: 9999px;
  height: 6px;
}

.bar .fill {
  height: 100%;
  width: 0;
  transition: width 0.3s ease;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
}